.back-main {
    .item-list {
        width: 50%;
        background-color: white;
        margin: 0 auto;
        padding: 10px 20px;
        list-style: none;
        text-align: center;
        border-radius: 10px;
        min-width: 400px;
        display: block;
    }
}