html, body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  text-align: center;

  /* 文字不可被选择 */
  -webkit-user-select: none;   
  /* Firefox all */  
  -moz-user-select: none;     
  /* IE 10+ */ 
  -ms-user-select: none;       
  /* 通用 */
  user-select: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  color: inherit;
  text-decoration: none;
}
body, ul, li, p, form, dl, dt, dd { 
  margin: 0px; 
  padding: 0px; 
  font-size: 14px; 
  font-weight: normal; 
}
ul { 
  list-style: none; 
}
img { 
  border-style: none; 
}