.login-page {
    width: 100%;
    height: 100%;
    font-size: 16px;
    .login-form {
        text-align: center;
        width: 324px;
        height: 297px;
        margin: 160px auto 0;

        .sign-title {
            font-weight: bold;
            color: #396afe;
            font-size: 30px;
        }
        .login-input {
            width: 240px;
            height: 30px;
            display: block;
            margin: 0 auto;
            padding: 0;
            border: none;
            outline: none;
            overflow: visible;
            box-sizing: border-box;
            border-bottom: 1px solid black;
        }
        .sign-in-btn {
            background-color: #2878ff;
            margin: 10px auto;
            font-size: 14px;
            color: white;
            border-radius: 4px;
            line-height: 40px;
            width: 240px;
        
        }
        .other {
            text-align: left;
            font-size: 8px;

            .sign-up-btn { 
                width: 50px;
                float: left;
                margin-left: 40px;
            }
            .forgot-btn {
                width: 90px;
                float: right;
                margin-right: 40px;
            }
        }
    }
}



