.category {
    position: relative;
    width: 80%;
    margin: 0 auto;
    .category-list {
        float: left;
        position: absolute;
        left: 0;
        top: 20px;
    }
    .category-list-unit {
        display: block;
        width: 60px;
        margin: 10px auto;
    }
    .selected {
        position: relative;
        &::before {
            position: absolute;
            color: rgb(57, 86, 146);
            content: "▶︎";
            left: -10px;
        }
    }
    .category-content {
        width: 80%;
        background-color: white;
        margin: 20px auto;
        box-shadow: 0 0 1px rgba($color: #000000, $alpha: 0.1);
        min-height: 600px;
        padding-top: 20px;
        text-align: left;
        .content-title {
            margin-left: 60px;
            display: inline-block;
            width: 100px;
            border-bottom: 3px solid rgb(57, 86, 146);
        }
        .item-list {
            width: 90%;
            margin-top: 30px;
            .item {
                margin: 10px auto;
                .item-date {
                    color: #000000;
                    margin-right: 40px;
                }
                .item-title {
                    color: rgb(57, 86, 146);
                    font-weight: bold;
                }
            }
        }
        .sum {
            margin: 0 auto;
            text-align: center;
        }
    }
}