.foot {
    text-align: center; 
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    color: white;
    background-color: rgb(57, 86, 146);
    // background-color: #222;
    .center {
        width: 80%;
        margin: 0 auto;
        position: relative;
        min-height: 200px;
        .contact {
            position: absolute;
            top: 20px;
            left: 100px;
            width: 25%;
        }
        .link {
            position: absolute;
            top: 20px;
            left: 500px;
            width: 25%;
            li{
                color: #83d0f2;
            }
        }
        .title {
            margin-bottom: 20px;
        }
    }
}