.item {
    text-align: left;
    border-bottom: 1px solid rgb(224, 224, 224);
    width: 80%;
    margin: 0 auto;
    .title {
        font-weight: bold;
        font-size: 18px;
        margin: 0;
        color: #3d3d3d;
    }
    .description {
        font-size: 14px;
        margin: 4px;
    }
    .change {
        float: right;
    }
    .del {
        float: right;
    }
    .date {
        font-size: 14px;
        float: right;
    }
}