.main {
    text-align: center;
    .right{
        float: right;
    }
    .main-re {
        width: 200px;
        margin-right: 50px;
        background-color: white;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
        .recommend-title {
            width: 80px;
            text-align: left;
            margin-left: 20px;
            border-bottom: 3px solid rgb(57, 86, 146);
        }
        .recommend {
            list-style-type: none;
            padding-inline-start: 0;
            .recommend-item {
                margin: 0 auto;
                text-align: left;
                color: #888888;
                width: 150px;
                height: 30px;
                line-height: 30px;
                border-bottom: 1px solid #dddddd;
                &:hover {
                    color: #444444;
                }
            }
        }
    }
    .main-content {
        width: 40%;
        margin: 0 auto;
        min-width: 400px;
        max-width: 480px;

        .item-list {
            background-color: white;
            margin: 0 auto;
            padding-inline-start: 0;
            list-style: none;
            text-align: center;
            
            border-radius: 10px;
            display: block;
        }
        .main-list {
            
            list-style-type: none;
            padding-inline-start: 0;
            line-height: 40px;
            display: block;
            height: 40px;

            .main-list-unit {
                // float: left;
                display: inline-block;
                width: 60px;
                line-height: 20px;
                &:hover{
                    color: #8f8f8f;
                }
                
            }
            .selected{
                background-color: #395692;
                color: #ffffff;
                border-radius: 3px;
                &:hover{
                    color: #ffffff;
                }
            }
        }
    }
}