.message {
    width: 80%;
    min-height: 500px;
    background-color: white;
    margin: 50px auto;
    // padding: 50px auto;
    box-shadow: 0 0 1px rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    text-align: left;
    .content {
        width: 90%;
        margin: 50px auto;
        h3 {
            padding: 20px 0 0 20px;
            width: 50px;
        }
        .input-item {
            margin: 15px auto;
            .text {
                width: 100%;
                height: 120px;
                margin: 0 auto;
            }
        }
        button {
            float: right;
        }
    } 
    .message-list {
        margin-top: 100px;
        .message-item {
            border-bottom: 1px solid #eee;
            position: relative;
            text-align: left;
            margin: 10px auto;
            padding-bottom: 20px;
            width: 80%;
            .message-avatar {
                float: left;
                width: 40px;
                border-radius: 20px;
                margin: -10px 0 0 -50px;
            }
            .message-date {
                float: right;
                position: absolute;
                top: 0px;
                right: 20px;
                color: gray;
                font-size: 12px;
            }
            .message-content {
                text-indent: 2em;
            }
        }
    }
}