.new-article {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #F1F1F1;
    height: 800px;
    text-align: left;
    vertical-align: middle;
    .title {
        width: 80%;
        font-size: 40px;
        outline-width: 0;
        border-width: 0 0 1px;
        padding: 20px 0;
        margin-bottom: 20px;
        outline: 0px red solid;
    }
    .back {
        position: fixed;
        top: 20px;
        left: 20px;
    }
    .push {
        position: fixed;
        top: 20px;
        right: 30px;

    }
    .type {
        float: right;
        margin-top: 30px;
    }
}